/*  HEADER  */
.container-fluid {
  background-color: #fee440;
}

/*   IMAGES  */
#homer {
  display: block;
}

#homerEating {
  display: none;
}

#homerSleeping {
  display: none;
}

#homerHappy {
  display: none;
}

#homerDeath {
  display: none;
}

/*# sourceMappingURL=prod.css.map */
